@model DetalleVm
@{
    ViewData["Title"] = "Insertar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Agregar Nuevo Detalle de Factura</h2>

<div class="container">
   

    <div class="row">
        <form method="post" asp-action="Insertar">
            <div class="row">
                <div class="danger">
                    @if (TempData["mensaje"] != null)
                    {
                        <div class="alert alert-warning alert-dismissible" role="alert">
                            <p> @TempData["mensaje"]</p>
                            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }
                </div>
            </div>

            <input type="hidden" name="Id_Encabezado_Factura" value="@ViewBag.EncabezadoId" />



            <div class="form-group">
                <label for="Id_Producto">Producto:</label>
                <select class="form-control" id="Id_Producto" name="Id_Producto">
                    <option value="">-- Seleccione un Producto --</option>
                    @foreach (var producto in ViewBag.Productos)
                    {
                        <option value="@producto.Id_Producto">@producto.Nombre</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label for="Precio">Precio:</label>
                <input type="text" class="form-control" id="Precio" readonly />
            </div>

            <div class="form-group">
                <label for="Cantidad">Cantidad:</label>
                <input type="number" class="form-control" id="Cantidad" name="Cantidad" />
            </div>

            <div class="form-group">
                <label for="Total_Linea">Total de Línea:</label>
                <input type="text" class="form-control" id="Total_Linea" readonly />
            </div>
            <button type="submit" class="btn btn-primary">Agregar Producto</button>
            <a href="@Url.Action("Insertar", "Pago", new { encabezadoId = ViewBag.EncabezadoId })" class="btn btn-success">Continuar al Pago</a>
        </form>
    </div>
        
    </div>
</div>



@section Scripts {
    <script>
        $(function () {
            $('#Id_Producto, #Cantidad').change(function () {
                var productId = $('#Id_Producto').val();
                var quantity = $('#Cantidad').val();
                if (productId && quantity) {
                    $.ajax({
                        url: '/Producto/ObtenerPrecio',
                        type: 'GET',
                        data: { productId: productId },
                        success: function (data) {
                            var price = data;
                            var totalLinea = price * quantity;
                            $('#Precio').val(price);
                            $('#Total_Linea').val(totalLinea);
                        }
                    });
                }
            });
        });
    </script>
}