@model DetalleVm
@{
    ViewData["Title"] = "Insertar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Agregar Nuevo Detalle de Factura</h2>

<div class="container">
    <div class="row">
        <form method="post" asp-action="Insertar">
            <div class="row">
                <div class="danger">
                    @if (TempData["mensaje"] != null)
                    {
                        <div class="alert alert-warning alert-dismissible" role="alert">
                            <p> @TempData["mensaje"]</p>
                            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }
                </div>
            </div>

            <input type="hidden" name="Id_Encabezado_Factura" value="@ViewBag.EncabezadoId" />

            <div class="form-group">
                <label for="Id_Producto">Producto:</label>
                <select class="form-control" id="Id_Producto" name="Id_Producto">
                    <option value="">-- Seleccione un Producto --</option>
                    @foreach (var producto in ViewBag.Productos)
                    {
                        <option value="@producto.Id_Producto"
                                data-precio-normal="@producto.Precio_Normal"
                                data-precio-mayorista="@producto.Precio_Mayorista">
                            @producto.Nombre
                        </option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label for="Precio">Precio:</label>
                <input type="text" class="form-control" id="Precio" readonly />
            </div>

            <div class="form-group">
                <label for="Cantidad">Cantidad:</label>
                <input type="number" class="form-control" id="Cantidad" name="Cantidad" />
            </div>

            <div class="form-group">
                <label for="Total_Linea">Total de Línea:</label>
                <input type="text" class="form-control" id="Total_Linea" readonly />
            </div>

            <div class="form-group">
                <div class="btn-group" role="group" aria-label="Botones de acción">
                    <a href="@Url.Action("ConfirmarDetalle", "Detalle", new { encabezadoId = ViewBag.EncabezadoId })" class="btn btn-primary">Confirmar Detalle</a>
                    <input type="submit" value="Agregar Producto" class="btn btn-primary" id="btnAgregarProducto" />
                    
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#Id_Producto, #Cantidad').change(function () {
                var productId = $('#Id_Producto').val();
                var quantity = $('#Cantidad').val();
                var price = $('#Id_Producto option:selected').data('precio-normal');
                if (parseInt(quantity) > 12) {
                    price = $('#Id_Producto option:selected').data('precio-mayorista');
                }
                if (!isNaN(price) && !isNaN(quantity)) {
                    var totalLinea = price * quantity;
                    $('#Precio').val(price);
                    $('#Total_Linea').val(totalLinea);
                }
            });
        });
    </script>
}