@model EncabezadoVm
@{
    ViewData["Title"] = "Ver";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1>Ver</h1>

<form method="get" asp-action="Ver">
        <div class="container">
        <h1>Ver Encabezado de Factura </h1>

    <div class="row">
        


            <div>
                <h4>Fecha de Emisión:</h4>
                <p>@Model.Fecha_Emision</p>
            </div>
            <div>
                <h4>Número de Factura:</h4>
                <p>@Model.NumeroFactura</p>
            </div>
            <div>
                <h4>RTN:</h4>
                <p>@Model.RTN</p>
            </div>


            <hr />

            <h3>Detalles de la Factura</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Total Pagado</th>
                        <th>Monto Recibido</th>
                        <th>Cambio Entregado</th>
                        <th>Impuesto</th>

                    </tr>
                    
                </thead>

                <tbody>
                   
                        <tr>
                            <td>@Model.Total</td>
                            <td>@Model.Monto_Entregado</td>
                            <td>@Model.Cambio</td>
                            <td>@Model.Impuesto</td>

                        </tr>
                    
                </tbody>

            </table>
            

            <a asp-action="Index" class="btn btn-primary">Volver a la lista</a>


            </form>
